Source: savant2.0.1
Section: science
Priority: optional
Build-Depends: 
Build-Depends-Indep: 
Maintainer: savant support <support@savantbrowser.com>
Standards-Version: 3.8.3
Homepage: http://genomesavant.com/

Package: savant2.0.1
Architecture: amd64
Depends: 
Description: 
The Savant Genome Browser is a desktop visualization tool for genomic data. It was primarily developed for visualizing high throughput (aka next generation) sequencing data, although it can be used to visualize virtually any genome-based sequence, point, interval, or continuous dataset.
