#!/usr/bin/make -f

PKG=savant2.0.1
VER=2.0.1
DEB_DIR=debian/${PKG}

%:
	dh $@

build:

override_dh_auto_install:
#	dh_auto_install
	echo "copying program files"
	mkdir -p ${DEB_DIR}/usr/lib/${PKG}/bin
	mkdir -p ${DEB_DIR}/usr/bin

	install -m755 src/$${filename} ${DEB_DIR}/usr/lib/${PKG}/bin/$${filename}; \
	echo "export PATH=/usr/lib/${PKG}/bin/:\$$PATH; exec $$filename" >  ${DEB_DIR}/usr/bin/$${filename}${VER}; \

override_dh_auto_test:
	echo "This version had no test/ subdirectory.  Skipping tests"


